@media (min-resolution: 1.5) {
  .border-1px{
    &::after{
      transform: scaleY(0.7);
    }
  }
}

@media (min-resolution: 2) {
  .border-1px{
    &::after{
      transform: scaleY(0.5);
    }
  }
}