@mixin border-1px($color) {
  position: relative;
  &:after{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $color;
    content: '';
  }
}

@mixin bg-image($url) {
  background-image: url('../assets/'+$url+'@2x.png');
  @media (min-resolution: 3) {
    background-image: url('../assets/'+$url+'@3x.png');
  }
}
